h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: red;
}

canvas {
    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colorChange {
    0% {box-shadow: 1px 1px 38px red;}
    33% {box-shadow: 1px 1px 38px yellow;}
    66% {box-shadow: 1px 1px 38px blue;}
    100% {box-shadow: 1px 1px 38px red;}
}

#filters {
    margin-top: 550px;
}

body {
    background-color: #ffbf00;
}

ul {
    text-align: left;
    list-style-position: inside;
    font-size: 25px;
}

.modal-content {
    background-color: #00bbff;
}

.modal-header {
    background-color: #00bbff;
}

.modal-body {
    background-color: #00bbff;
}

.modal-body h2 {
    text-align: center;
}

li {
    list-style-type: none;
    position: relative;
    /* It's needed for setting position to absolute in the next rule. */
}

li::before {
    content: '◉';
    position: absolute;
    left: -1.5em;
    /* Adjust this value so that it appears where you want. */
    font-size: 1.1em;
    /* Adjust this value so that it appears what size you want. */
}

#instructions {
    right: 100px;
    top: 30px;
    position: absolute;
}

* {
    box-sizing: border-box;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
}

.checkbox-container label {
    cursor: pointer;
    display: flex;
}

.checkbox-container input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 0.15em;
    border: .05em solid black;
    margin-right: 0.25em;
    position: relative;
    top: 2.5px;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
    background-color: #00ff00;
}

.checkbox-container input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 20px black;
}

.checkbox-container input[type='checkbox']:disabled + label {
    cursor: default;
    opacity: 0.5;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
    background-color: #00cb00;
    content: "\002714";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.checkbox-container input[type='checkbox']:disabled + label::before {
    opacity: 0.5;
}
